__pycache__/
test/
tmp/
results/
.vscode/
data
nohup.out
**/*.npy
**/model*/
*/**/*.py
**/images/test*/
**/images/memories*/
**/images/dream*/
*.txt
*.*~
chosen_img/
fetch_images.sh
max_min.py
*.bkp*
**/images/chosen-images-grid/Noise*/
**/*partial*
**/*.json
